In [1]:
import pandas as pd
import numpy as np

In [2]:
pd = pd.read_csv('cric.csv')

In [3]:
pd

    Index  Sachin  Dravid  India
0       0     100      78    342
1       1      11      62    191
2       2       8      85    252
3       3      71      24    307
4       4     104      17    229
5       5      18     104    246
6       6       8      76    226
7       7      86      74    288
8       8      12      60    216
9       9      25      90    304
10     10      56       6    272
11     11      88      69    302
12     12     147      65    312
13     13     121     146    370
14     15      99     110    362

In [4]:
file = np.loadtxt("cric.tsv",skiprows = 1)

In [5]:
file

array([[  0., 100.,  78., 342.],
       [  1.,  11.,  62., 191.],
       [  2.,   8.,  85., 252.],
       [  3.,  71.,  24., 307.],
       [  4., 104.,  17., 229.],
       [  5.,  18., 104., 246.],
       [  6.,   8.,  76., 226.],
       [  7.,  86.,  74., 288.],
       [  8.,  12.,  60., 216.],
       [  9.,  25.,  90., 304.],
       [ 10.,  56.,   6., 272.],
       [ 11.,  88.,  69., 302.],
       [ 12., 147.,  65., 312.],
       [ 13., 121., 146., 370.],
       [ 15.,  99., 110., 362.]])

In [6]:
sachin_avg_scr = np.mean(file[:,1])
print(sachin_avg_scr)

63.6

In [12]:
dravid_avg_scr = np.round(np.mean(file[:,2]),decimals = 2)
print(dravid_avg_scr)

71.07

In [13]:
Ind_avg_scr = np.round(np.mean(file[:,3]),decimals = 2)
print(Ind_avg_scr)

281.27

In [9]:
sachin_median_scr = np.median(file[:,1])
print(sachin_median_scr)

71.0

In [10]:
dravid_median_scr = np.median(file[:,2])
print(dravid_median_scr)

74.0

In [11]:
Ind_median_scr = np.median(file[:,3])
print(Ind_median_scr)

288.0